<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="UserName" value="nverma" />
    <add key="Password" value="Iris@123" />
    <add key="Website" value="http://way2automation.com/way2auto_jquery/index.php" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>  
</configuration>